html, body {
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 95%;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 540px;
    margin: auto;
    padding: 0;
  }
}
.button {
  margin: 2px 23px 21px 3px;
  padding: 18px 30px;
  border-radius: 5px;
  background-color: #ffd200;
  border: none;
}

.header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.header-block__logo {
  width: 50%;
}
.header-block-contacts {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}
.header-block-contacts-info {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.header-block-contacts-info__address {
  display: inline-block;
  font-size: 13px;
  font-weight: 300;
  color: #333333;
}
.header-block-contacts-info__phone {
  margin-top: 9px;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: #333333;
  text-decoration: none;
}
.header-block-contacts__button {
  padding: 18px 30px;
  border-radius: 10px;
  background-color: #ffd200;
  margin-left: 30px;
}
.header-block-contacts__button-link {
  font-size: 13px;
  font-weight: bold;
  color: #333333;
  text-decoration: none;
}

@media (max-width: 575.98px) {
  .header-block {
    height: 80px;
  }
  .header-block__logo > img {
    width: 90px;
    height: 45px;
  }
  .header-block-contacts {
    justify-content: flex-end;
  }
  .header-block-contacts-info {
    display: none;
  }
  .header-block-contacts__button {
    padding: 15px 20px;
    margin-left: 0;
  }
  .header-block-contacts__button-link {
    font-size: 10px;
    font-weight: bold;
    color: #333333;
  }
}
.main {
  background-color: #f5f5f5;
}
.main-block {
  display: flex;
  justify-content: space-between;
}
.main-block-text {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.main-block-text__title {
  margin: 0;
  font-size: 41px;
  font-weight: bold;
  line-height: 1.34;
  color: #333333;
  margin-top: 90px;
}
.main-block-text__subtitle {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
  color: #333333;
  margin-top: 50px;
}
.main-block-text-list {
  margin: 0;
  padding: 0;
  margin-top: 70px;
}
.main-block-text-list__item {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.main-block-text-list__item > img {
  padding: 10px;
  border: solid 2px #ffd200;
  border-radius: 50%;
  margin-right: 30px;
}
.main-block-text-list__item .img-2 {
  padding: 10px 12px;
}
.main-block-text-list__item .img-3 {
  padding: 12px 10px;
}
.main-block__img {
  position: relative;
  margin-top: 50px;
  margin-bottom: 52px;
  box-shadow: 16.2px 21.6px 35px 0 rgba(0, 0, 0, 0.05), 6.6px 4.5px 10px 0 rgba(0, 0, 0, 0.05);
  width: 570px;
  height: 488px;
}
.main-block__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

@media (max-width: 575.98px) {
  .main-block {
    flex-direction: column;
    align-items: center;
  }
  .main-block-text {
    width: 100%;
  }
  .main-block-text__title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 46px;
  }
  .main-block-text__subtitle {
    margin-top: 13px;
    font-size: 16px;
    line-height: normal;
  }
  .main-block-text-list {
    margin-top: 30px;
  }
  .main-block-text-list__item {
    margin-bottom: 20px;
  }
  .main-block-text-list__item > img {
    margin-right: 15px;
  }
  .main-block__img {
    width: 270px;
    height: 231px;
  }
}/*# sourceMappingURL=style.css.map */